{% extends 'base/base.html' %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
<link rel="stylesheet" href="/media/css/reset__conf.css">
<style>
    .navfeed{
        display: none;
    }

</style>
<div class="reset_main">
<div class="reset-container">
    <h2>Enter New Password</h2>
    <form method="POST">
        {% csrf_token %}
        {% include "base/alert.html" %}
        <div class="form-group">
            <label for="new_password">New Password:</label>
            <input type="password" id="new_password" name="new_password" required>
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm New Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required>
        </div>
        <button type="submit">Reset Password</button>
    </form>
</div>
</div>
  {% include 'ads/banner_ad.html' %}

{% endblock %}
